@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio Record</title>
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <main>
        <button class="mic-toggle" id="mic">
            <span class="material-icons" id="record">mic</span>
            <span class="material-icons" id="stop">stop</span>
        </button>

        <audio class="playback" controls></audio>
    </main>

    <script src="~/js/app.js"></script>
</body>
</html>
